.container
  .row
    .column.grid_12
      %h1 Listing drawings
      = link_to 'New Drawing', new_drawing_path

  - @drawings.each_slice(3) do |row|
    .row
      - row.each do |drawing|
        .column.grid_4
          .preview
            - if drawing.png_file_path
              = link_to image_tag(drawing.png_file_path), edit_drawing_path(drawing)
            - else
              = link_to image_tag('generating_thumbnail.png'), edit_drawing_path(drawing)
            %span
              = link_to 'edit', edit_drawing_path(drawing)
              &middot;
              = link_to 'delete', drawing_path(drawing), :method => :delete, :confirm => 'Are you sure?'
    %br/
