.container
  .row
    .column.grid_12
      %h1
        My Whiteboards
        = link_to 'Create a New Whiteboard', new_whiteboard_path

  - @whiteboards.each_slice(3) do |row|
    .row
      - row.each do |whiteboard|
        .column.grid_4
          .preview
            - if whiteboard.png_file_path
              = link_to image_tag(whiteboard.png_file_path + "?#{whiteboard.updated_at.to_i}"), edit_whiteboard_path(whiteboard)
            - else
              = link_to image_tag('generating_thumbnail.png'), edit_whiteboard_path(whiteboard)
            %span
              = link_to 'edit', edit_whiteboard_path(whiteboard)
              &middot;
              = link_to 'delete', whiteboard_path(whiteboard), :method => :delete, :confirm => 'Are you sure?'
    %br/
