!!!
%html
  %head
    %title Whiteboard
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #top
      .row
        .column.grid_8
          = link_to 'My Whiteboards', drawings_path
        .column.grid_4
          %ul#user_nav
            - if user_signed_in?
              %li= link_to 'My Settings', edit_user_registration_path
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign up', new_user_registration_path
              %li= link_to 'Sign in', new_user_session_path
    #main
      = yield

    #footer
      .row
        .column.grid_12
          #{link_to 'Privacy Policy', static_path('privacy_policy')} &middot;
          #{link_to 'Terms of Use', static_path('terms_of_use')}<br/>
          Whiteboard is a service from
          = link_to 'Origami Ltd', 'http://origami.co.uk'
