.container
  .row
    .column.grid_12
      %h1
        My Details
        = link_to 'â† Return to whiteboards', whiteboards_path

      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        %h2 Personal Information
        = f.input :email

        %h2 Change Password
        = f.input :password, :hint => "leave blank if you don't want to change it"
        = f.input :password_confirmation

        %h2 Confirm Changes
        = f.input :current_password, :hint => "we need your current password to confirm your changes"
        = f.button :submit, 'Update My Details'
